/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  padding-bottom: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}